:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1)

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  max-width: 100%;
}


body {
      background-color: rgb(58, 55, 55);
      color: #fff;
      line-height: 1.5;
     
}


/* Header Area */
  .link .logo a img {
  border-radius: 50%;
  }
  .link .menu .navLink {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 16px;
    margin-left: 20px;
  }
  .link .menu {
    padding-top: 10px;
  }
  .link .menu .navLink:hover {
    color: rgb(24, 253, 4);
  }
  
  .link .menu li {
    display: inline-block;
    list-style: none;
  }
  .link {
     position: fixed; 
    width: 100%;
    padding: 15px 0;
    z-index: 10;
    background-color: rgb(58, 55, 55);
    
  }
  .link .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .menu-btn {
    display: none;
    cursor: pointer;
    font-size: 20px;
  }
  .nav {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    
  }

  .typing {
    color: #33ff00;
  }

  
  /* Header page */
  
  .header-content .text-1 {
    font-size: 27px;
  }
  .header-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
  }
  .header-content .text-3 {
    font-size: 40px;
    margin: 5px 0px;
  }
  .header-content .text-3 span {
    color: #4dff03;
    font-weight: 600;
  }
  h2,
  h3,
  h4 {
    text-transform: uppercase;
  }
  
  .header-content {
    text-align: center;
    padding-top: 300px;
  }
  .header-content a {
    color: #fff;
    padding: 12px 35px;
    font-size: 25px;
    background-color: #111;
    text-decoration: none;
    border-radius: 6px;
    border: 2px solid coral;
    transition: all 0.3s ease;
  }
  .header-content a:hover {
    color: coral;
    background: none;
  }
  .header-content h1 {
    font-size: 4rem;
    line-height: 1.5;
    color: black;
  }
 
  .bottom-line {
    height: 2px;
    width: 4rem;
    background-color: coral;
    display: block;
    margin: 0 auto 1rem auto;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1.2rem;
  }
  .drop {
    color: #111;
  }
  .dropdown-menu {
    background-color: rgb(255, 255, 255);
  }
  .dropdown-menu a {
    color: #111;
    font-weight: 500;
  }
  .btn-group {
    margin-left: 20px;
  }


  /* dress images */
  .dress {
   display: flex;
   align-items: center;
   justify-content: center;

  }
  .dress img {
    border-radius: 15px;
    border: 5px solid coral;
    margin: 0 10px;

      }
      .dress img:hover {
        transform: scale(0.9);
      }



  /* image card animation */

  .page-content {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 1rem;
 place-items: center;
}
  
.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  
  width: 100%;
  text-align: center;
  
  
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
background: url('../img/1.jpg') no-repeat center center/cover
}

.card:nth-child(2):before {
background: url('../img/2.jpg') no-repeat center center/cover
}

.card:nth-child(3):before {
background: url('../img/3.jpg') no-repeat center center/cover
}

.card:nth-child(4):before {
background: url('../img/4.jpg') no-repeat center center/cover
}

.card:nth-child(5):before {
background: url('../img/6.jpg') no-repeat center center/cover
}

.card:nth-child(6):before {
  background: url('../img/7.jpg') no-repeat center center/cover
  }

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.card {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.card h4 {
  color: #ffffff;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  color: #ff0058;
  
}

.des {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
  color: #03a9f4;
}


.content {
  transform: translateY(calc(100% - 4.5rem));
}

.content>* {
  opacity: 0;
  transform: translateY(1rem);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.card:hover {
  align-items: center;
}

.card:hover:before {
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,86,1) 100%);
  }

.card:hover:after {
  transform: translateY(-50%);
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .content>* {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--d) / 8);
}
.section-title {
  text-align: center;
}
.collection_name {
  padding: 60px;
}

.carousel {
  background: #EEE;

}
.sliderMini {
  width: 80%;
  margin: auto;
}

.carousel-cell {
  width: 300px;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* services */
.service_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.services {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.services h5 {
   color: coral;
   margin-top: 15px;
   font-size: 2rem;
}
.services img:hover {
  transform: translateY(-20px)
}

/* footer */
.footer {
  background-color: rgb(46, 47, 49);
  color: #8a8a8a;
  font-size: 14px;
  margin-top: 100px;
  padding: 50px;
  
}
.footer p {
  color: #8a8a8a;
  width: 70%;
  margin: auto;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 2;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  height: 1px;
  margin: 20px 0;
  background: coral;
  border: none;
}
.container .copyright {
  text-align: center;
  color: #fff;
}
.bottomImg {
  border-radius: 15px;
  border: 3px solid coral;
}
.mainFooter {
  font-weight: 800;
  
}
.footerName {
  text-align: center;
}
.socialLink li{
  font-size: 20px;
  color: #f7fdf4;

}
.footer-col-1 p {
  color: #f7fdf4;
}
.footer-col-2 p {
  color: #f7fdf4;
}
.footer-col-1 h3 {
  color: rgb(24, 253, 4);
}
.footer-col-3 h3 {
  color: rgb(24, 253, 4);
}

/* contact */
.contact {
  position: fixed;
  display: flex;
  top: 300px;
  left: 50px;
}
.contactForm {
  background-color: coral;
  color: #111;
  width: 400px;
  height: 550px;
  border-radius: 15px;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  display: none;
  transition: all 0.9s ease; 
           
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn {
  background-color: rgb(24, 253, 4);
}
.contactForm.active {
  display: block;
}
.text-muted small{
  color: #111;
  font-weight: 700;
  font-size: 1rem;
}
.form-control {
  border: 0;
  outline: 0;
  background-color: #dfecdc;
}
.contactText {
  text-align: center;
  color: #33ff00;
}
.icon {
  color: coral;
  font-size: 2.5rem;
}
.icon.active:before {
  content:  "\f00d";
  color: rgb(255, 54, 54);
}
.showIcon {
  display: block;
}
label.error {
  color: #f00;
  font-weight: 500;
}


